<config> 
  <arco_alto X1="93.4259" Y1="33.9320" X2="93.4259" Y2="49.6801"> </arco_alto>
  <arco_bajo X1="6.8118" Y1="33.9320" X2="6.8118" Y2="49.6801">  </arco_bajo>
  <environment>simulado</environment>
  <host>127.0.0.1</host>
  <port>6363</port>
  <numplayers>5</numplayers>
  <players>
    <player  number="1" team="propio" >spot1</player>
    <player  number="2" team="propio" >spot2</player>
    <player  number="3" team="propio" >spot3</player>
    <player  number="1" team="contrario" >spot4</player>
    <player  number="2" team="contrario" >spot5</player>
    <player  number="3" team="contrario" >car54</player>
  </players>
</config>
