<config>
  <environment>real</environment>
  <video_server hostname="10.0.10.10" port="6363">
  </video_server>  
  <command_server hostname="10.0.10.10" port="8765">
  </command_server>  
  <anchoArea>900</anchoArea>
  <altoArea>541</altoArea>
  <anchoAreaChica>690</anchoAreaChica>
  <altoAreaChica>222</altoAreaChica>
  <arco_alto X1="2765" Y1="710" X2="2765" Y2="1350"> </arco_alto>
  <arco_bajo X1="50" Y1="710" X2="50" Y2="1350">  </arco_bajo>
  <field     X1="10" Y1="60" X2="2890" Y2="1862">  </field>
  <numplayers>1</numplayers>
  <players doraemon_id="2" >
    <player  number="1" team="propio" role="prueba">blue1</player>
  </players>
  <ball doraemon_id="1">ball1</ball>
</config>
